body
{
    margin-top: 50px;
}

img
{
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center;
}
table{
    width: 300px;
    text-align: left;
}
th{
    text-decoration: underline;
}

/* Sports.html CSS */
.header{
    display: flex;
    align-items: center;
    background-color: hsl(180, 4%, 78%);
    color: black;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

}
.home-btn{
    margin-right: 5rem;
}

.bayern-pic{
    margin-left: 20px;
}
.olympics-pic{
    width: 440px;
    
}
